#root {
  max-width: 1440px;
  margin: 0 auto;
}
body{
  background-color: hsl(185, 75%, 39%);
  background-image: url('/src/assets/images/bg-pattern-top.svg'),url('/src/assets/images/bg-pattern-bottom.svg');
  background-repeat: no-repeat,no-repeat;
  background-position: right 100vh bottom 50vh, left 100vh top 50vh;
}

@media screen and (max-width: 800px) {
  body{
    background-position: right 40vh bottom 50vh, left 40vh top 50vh;
  }
}
